---
layout: default
---

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 700px;
    text-align: center;
  }
  h1 {
    margin: 20px 0;
    font-size: 38pt;
    color:#3e4348;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }
  p,a {
    font-weight: 300;
  }
  
</style>
    
<div class="container">
  <div style="text-align: center;">
    <img src="assets/crescent_logo.png" alt="Crescent Logo" style="max-width: 150px;">
  </div>
  <h1>Crescent Equity</h1>

  <p>Crescent Equity is an exempt reporting advisor (ERA) managed by <a href="https://www.linkedin.com/in/albertblanchard/">Albert Blanchard</a> that 
      deploys long/short, special situation and systematic investing strategies, complemented by a growing portfolio of 
      private market investments spanning technology, real estate, construction and specialty finance.</p>
  <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
</div>

      </div>
    </main>
